<div class="my-content"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> <strong>Productos</strong></h1>
                <p>Añada los productos de su gusto al carrito</p>
            </div>
        </div>
        <br>
        {{#if noProducts}}
            <h3>No hay productos actualmente</h3>
        {{else}}
        <div class="row">
            <div class="col-md-10">			
                <ul class="list-group">
                    {{#each products}}
                    <li class="list-group-item clearfix">
                    <div class="col-md-6">
                        <div class="col-sm-5">
                            {{ this.nameProduct }}
                        </div>
                        <div class="col-sm-4">
                            {{ this.restName }}
                        </div>
                        <div class="col-sm-3">
                            &#8353;{{ this.priceProduct }}
                        </div>								
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <a href="/shop/add-to-cart/{{this._id}}/{{this._idr}}/{{this._idb}}">Añadir a Carrito</a> 
                    </div>
                    </li>
                    {{/each}}
                </ul>					
            </div>		
        </div>
        {{/if}}				 								
    </div>
</div>