<div class="my-content"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong> {{r.restName}} - Sucursales</strong></h1>
                <p> {{r.restDescription}} </p>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-6">
                    <a href="/{{r._id}}/edit/add" class="btn btn-primary">Agregar sucursal</a>
                </div>
            </div>
        <br>
        {{#if noBranches}}
            <h2>No hay sucursales agregadas actualmente.</h2>
        {{else}}
        <div class="row">
            <div class="col-md-10">			
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        {{#each branches}}
                            <div class="col-md-6 col-xs-12">
                            {{ this.nameBranch }}
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <a class="col-md-4" href="/{{../r._id}}/edit/{{this._id}}/prod">Productos</a>
                                <a class="col-md-4" href="/{{../r._id}}/edit/{{this._id}}/sch">Editar Horarios</a>
                                <a class="col-md-4" href="#">Eliminar</a>
                            </div>
                        {{/each}}
                    </li>
                </ul>									
            </div>		
        </div>
        {{/if}}				 								
    </div>
</div>